#footer
{
    font-family: 'Khula', sans-serif;
    font-size: rem(18);
    font-weight: 400;

    width: 100vw;
    padding: rem(20) 0;

    text-align: center;

    color: #fff;
    background-color: #000;

    @include bp-medium
    {
        font-size: rem(12);

        padding: rem(20) 0;
    }
    @include bp-large
    {
        font-size: rem(12);

        padding: rem(20) 0;
    }
}

#footer a:link
{
    text-decoration: none;

    color: #b6b6b6;

    @include bp-medium
    {
        color: #b6b6b6;
    }
    @include bp-large
    {
        color: #b6b6b6;
    }
}

#footer a:visited
{
    text-decoration: none;

    color: #b6b6b6;

    @include bp-medium
    {
        color: #b6b6b6;
    }
    @include bp-large
    {
        color: #b6b6b6;
    }
}

#footer a:hover
{
    text-decoration: underline;

    color: #fff;

    @include bp-medium
    {
        color: #fff;
    }
    @include bp-large
    {
        color: #fff;
    }
}

#footer a:active
{
    text-decoration: none;

    color: #b6b6b6;

    @include bp-medium
    {
        color: #b6b6b6;
    }
    @include bp-large
    {
        color: #b6b6b6;
    }
}
