#footer
{
    box-sizing: border-box;
    font-size: rem(18);
    font-weight: 400;

    width: 100vw;
    margin-top: rem(20);
    padding: rem(20);

    text-align: center;

    @include bp-medium
    {
        font-size: rem(12);

        margin-top: rem(20);
        padding: rem(20);
    }
    @include bp-large
    {
        font-size: rem(12);

        margin-top: rem(20);
        padding: rem(20);
    }
}
