#home
{
    font-size: 1px;

    display: none;
    overflow: hidden;

    opacity: 0;
    background-color: #fff;

    @include bp-medium
    {
    }
    @include bp-large
    {
    }
}

#home,
#homeHolder,
.homeMask
{
    width: 100vw;
    height: 100vh;
    min-height: rem(900);
}

#homeVideo
{
    width: 100vw;
    height: 100vh;
    min-height: rem(900);
}

#homeHolder
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    color: white;
}

#homeVideo
{
    position: absolute;
}
#homeVidPlayer
{
    width: 100vw;
    height: 100vh;
    min-height: rem(900);
}
.homeMask
{
    font-size: rem(10);

    position: absolute;

    opacity: 1;

    @include bp-medium
    {
        font-size: rem(10);
    }
    @include bp-large
    {
        font-size: rem(11);
    }
}

.homeTxtSolid
{
    opacity: 0;
}

.homeBack
{
    width: 100vw;
    height: 100%;
    min-height: rem(900);

    fill: #fff;
    @include bp-medium
    {
    }
    @include bp-large
    {
    }
}

.homeRect
{
    fill: #eff3f6;
}


.homeTxtElement
{
    opacity: 0;
}


.homeTxt
{
    font-family: 'Khula', sans-serif;
    font-weight: 800;

    letter-spacing: rem(-10);

    @include bp-medium
    {
        letter-spacing: rem(-10);
    }
    @include bp-large
    {
        letter-spacing: rem(-10);
    }
}
.small
{
    display: block;

    @include bp-medium
    {
        display: none;
    }
    @include bp-large
    {
        display: none;
    }
}
.medium
{
    display: none;

    @include bp-medium
    {
        display: block;
    }
    @include bp-large
    {
        display: none;
    }
}
.large
{
    display: none;

    @include bp-medium
    {
        display: none;
    }
    @include bp-large
    {
        display: block;
    }
}
.homeTxtGroup
{
    opacity: 0;
}





#homeClip
{
    width: rem(1600);
    height: rem(900);

    @include bp-medium
    {
        width: rem(1600);
        height: rem(900);
    }
    @include bp-large
    {
        width: rem(1600);
        height: rem(900);
    }
}

#homeVidPlayer
{
    width: auto;
    height: 100vh;
}

#homeContent
{
    position: absolute;
    top: rem(625);
    left: rem(40);

    display: table;

    color: #24293d;
    //font-size:rem(24);

    @include bp-medium
    {
        top: rem(600);
        left: rem(80);
        //font-size:rem(24);
    }
    @include bp-large
    {
        top: rem(600);
        left: rem(80);
        //font-size:rem(24);
    }
}

#homeHit
{
    position: absolute;
    top: rem(200, $text-bp-sm);
    left: rem(20, $text-bp-sm);

    width: rem(700);
    height: rem(350);

    @include bp-medium
    {
        top: rem(200, $text-bp-md);
        left: rem(80, $text-bp-md);

        width: rem(1500);
        height: rem(250);
    }
    @include bp-large
    {
        top: rem(200, $text-bp-lg);
        left: rem(80, $text-bp-lg);

        width: rem(1500);
        height: rem(250);
    }
}
#homeContentNav
{
    display: inline-block;

    width: rem(730);

    vertical-align: top;

    @include bp-medium
    {
        display: table-cell;

        width: rem(20);
    }
    @include bp-large
    {
        display: table-cell;

        width: rem(20);
    }
}

#homeContentHolder
{
    position: relative;

    display: inline-block;

    width: rem(730);
    padding-top: rem(20);

    vertical-align: top;

    @include bp-medium
    {
        display: table-cell;

        width: rem(730);
        padding-top: 0;
    }
    @include bp-large
    {
        display: table-cell;

        width: rem(730);
        padding-top: 0;
    }
}

#homeContentSub
{
    font-family: 'Khula', sans-serif;
    font-size: rem(60);
    font-weight: 400;

    position: absolute;
    z-index: 900;
    top: rem(140);
    left: rem(40);

    color: #24293d;

    @include bp-medium
    {
        font-size: rem(50);

        top: rem(165);
        left: rem(80);
    }
    @include bp-large
    {
        font-size: rem(50);

        top: rem(130);
        left: rem(80);
    }
}
.homeSubHolder
{
    position: absolute;

    opacity: 0;
}


.homeSub
{
    position: absolute;

    white-space: nowrap;

    opacity: 0;
}

.homeContentNavBtn
{
    display: inline-block;

    width: rem(40);
    height: rem(40);
    margin: rem(5) rem(40) rem(15) 0;

    cursor: pointer;

    @include bp-medium
    {
        width: rem(20);
        height: rem(20);
        margin: rem(5) rem(40) rem(15) 0;
    }
    @include bp-large
    {
        width: rem(20);
        height: rem(20);
        margin: rem(5) rem(40) rem(15) 0;
    }
}

.homeContentNavBtnHolder
{
    position: relative;
}
.homeContentNavBtnNumber
{
    font-family: 'Khula';
    font-size: rem(33);
    font-weight: 800;
    line-height: rem(44);

    position: absolute;

    opacity: 0;

    @include bp-medium
    {
        font-size: rem(20);
        line-height: rem(24);
    }
    @include bp-large
    {
        font-size: rem(20);
        line-height: rem(24);
    }
}
.homeContentNavBtnSq
{
    position: absolute;
    top: rem(4);
    left: rem(4);

    width: rem(25);
    height: rem(25);

    transform: rotate(45deg);

    border: rem(2) solid #000;

    @include bp-medium
    {
        top: rem(4);
        left: rem(4);

        width: rem(7);
        height: rem(7);

        border: rem(2) solid #000;
    }
    @include bp-large
    {
        top: rem(4);
        left: rem(4);

        width: rem(7);
        height: rem(7);

        border: rem(2) solid #000;
    }
}


.homeContentInfo
{
    position: absolute;

    display: none;

    width: rem(700);

    opacity: 0;

    @include bp-medium
    {
        width: rem(900);
    }
    @include bp-large
    {
        width: rem(900);
    }
}

.homeContentTitle
{
    font-family: 'Khula', sans-serif;
    font-size: rem(60);
    font-weight: 400;
    line-height: rem(52);

    @include bp-medium
    {
        font-size: rem(50);
        font-weight: 300;
        line-height: rem(52);
    }
    @include bp-large
    {
        font-size: rem(50);
        font-weight: 300;
        line-height: rem(52);
    }
}

.homeContentDesc
{
    font-size: rem(30);
    line-height: rem(38);

    @include bp-medium
    {
        font-size: rem(22);
        line-height: rem(30);
    }
    @include bp-large
    {
        font-size: rem(22);
        line-height: rem(30);
    }
}

.homeContentLink
{
    font-family: 'Khula', sans-serif;
    font-size: rem(30);
    font-weight: 800;
    line-height: rem(36);

    margin-top: rem(30);

    @include bp-medium
    {
        font-size: rem(22);
        font-weight: 700;
        line-height: rem(30);

        margin-top: rem(30);
    }
    @include bp-large
    {
        font-size: rem(22);
        font-weight: 700;
        line-height: rem(30);

        margin-top: rem(30);
    }
}

.homeContentLinkArrow
{
    font-size: rem(22);
    line-height: rem(40);

    margin-left: rem(15);

    @include bp-medium
    {
        font-size: rem(22);
        line-height: rem(40);

        margin-left: rem(15);
    }
    @include bp-large
    {
        font-size: rem(22);
        line-height: rem(40);

        margin-left: rem(15);
    }
}
#homeFooter
{
    font-family: 'Khula', sans-serif;
    font-size: rem(17.5 );
    font-weight: 400;

    position: fixed;
    z-index: 1000;
    right: rem(30);
    bottom: rem(30);

    color: #b6b6b6;

    @include bp-medium
    {
        font-size: rem(14);

        right: rem(30);
        bottom: rem(30);
    }
    @include bp-large
    {
        font-size: rem(14);

        right: rem(30);
        bottom: rem(30);
    }
}

#homeFooter a:link
{
    text-decoration: none;

    color: #b6b6b6;
}

#homeFooter a:visited
{
    text-decoration: none;

    color: #b6b6b6;
}

#homeFooter a:hover
{
    text-decoration: none;

    color: #24293d;
}

/* selected link */
#homeFooter a:active
{
    text-decoration: none;

    color: #b6b6b6;
}
