#navLogo
{
    position: fixed;
    z-index: 1003;
    top: rem(-2);
    left: rem(50);

    width: rem(150);
    height: rem(150);

    border: rem(2) solid #000;

    @include bp-medium
    {
        top: rem(-2);
        left: rem(100);

        width: rem(130);
        height: rem(130);

        border: rem(2) solid #000;
    }
    @include bp-large
    {
        top: rem(-2);
        left: rem(100);

        width: rem(130);
        height: rem(130);

        border: rem(2) solid #000;
    }
}
#navLogo img
{
    width: 100%;
    height: auto;
}

#navMenuBtn
{
    font-size: rem(40);

    position: fixed;
    z-index: 1001;
    top: rem(18);
    right: rem(18);

    visibility: visible;

    padding: rem(40);

    color: #fff;
    background-color: #000;

    @include bp-medium
    {
        font-size: rem(18);

        visibility: hidden;

        padding: 0 rem(10);
    }
    @include bp-large
    {
        font-size: rem(18);

        visibility: hidden;

        padding: 0 rem(10);
    }
}

#navMenuCloseBtn
{
    font-size: rem(55);

    position: fixed;
    z-index: 1003;
    top: rem(18);
    right: rem(18);

    visibility: hidden;

    padding: rem(30);

    color: #fff;
    background-color: #000;

    @include bp-medium
    {
        font-size: rem(18);

        padding: 0 rem(10);
    }
    @include bp-large
    {
        font-size: rem(18);

        padding: 0 rem(10);
    }
}

nav
{
    position: fixed;
    z-index: 1002;
    top: rem(0);
    right: rem(0);

    display: none;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding-top: rem(240);

    opacity: 0;
    background-color: #000;

    @include bp-medium
    {
        top: rem(18);
        right: rem(18);

        display: flex;
        flex-direction: row;

        width: auto;
        height: auto;
        padding-top: 0;

        opacity: 1;

        flex-wrap: nowrap;
    }
    @include bp-large
    {
        top: rem(35);
        right: rem(0);

        width: auto;
        height: auto;
        padding-top: 0;

        opacity: 1;
    }
}

#navBtnHolder
{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    @include bp-medium
    {
        flex-direction: row;

        flex-wrap: nowrap;
    }
}

#socialBtnHolder
{
    display: inline-block;

    width: 100%;
    padding-top: rem(40);

    text-align: center;
    vertical-align: top;

    @include bp-medium
    {
        width: auto;
        padding-top: 0;
    }
    @include bp-large
    {
        width: auto;
        padding-top: 0;
    }
}

.navBtn
{
    font-family: $nav-font;
    font-size: rem(70);

    display: inline-block;

    width: 100vw;
    padding: rem(20) 0;

    text-align: center;
    vertical-align: middle;
    letter-spacing: rem(1);

    @include bp-medium
    {
        font-size: rem(19);

        width: auto;
        padding: rem(16);

        letter-spacing: rem(1);
    }
    @include bp-large
    {
        font-size: rem(24);

        width: auto;
        padding: rem(20);

        letter-spacing: rem(1);
    }
}

.socialBtn
{
    font-size: rem(70);

    display: inline-block;

    padding: 0 rem(25);

    cursor: pointer;
    vertical-align: middle;

    @include bp-medium
    {
        font-size: rem(22);

        padding: rem(16) rem(8);
    }
    @include bp-large
    {
        font-size: rem(30);

        padding: rem(20) rem(10);
    }
}

.navBtn,
.socialBtn
{
    color: $color-1;
    background-color: $color-2;

    &:link
    {
        text-decoration: none;

        color: $color-1;
        background-color: $color-2;
    }

    &:visited
    {
        text-decoration: none;

        color: $color-1;
        background-color: $color-2;
    }

    &:hover
    {
        text-decoration: none;

        color: $color-2;
        background-color: $color-1;
    }

    &:active
    {
        text-decoration: none;

        color: $color-1;
        background-color: $color-2;
    }
    &.rainbow
    {
        text-decoration: none;
        letter-spacing: rem(2);

        color: $color-1;
        background-color: $color-2;

        &:link
        {
            text-decoration: none;

            color: $color-1;
            background-color: $color-2;
        }

        &:visited
        {
            text-decoration: none;

            color: $color-1;
            background-color: $color-2;
        }

        &:hover
        {
            text-decoration: none;

            color: $color-1;
            background: linear-gradient(90deg,#f00, #ff9c00, #fff000,#0cff00,#0048ff,#6c00ff);
            text-shadow: 1px 1px 4px $color-2;
        }

        &:active
        {
            text-decoration: none;

            color: $color-1;
            background-color: $color-2;
        }
    }
}
