header
{
    .nav-logo
    {
        position: fixed;
        z-index: 1003;
        top: rem(-2);
        left: rem(50);

        width: rem(150);
        height: rem(150);

        border-width: rem(2);
        border-style: solid;

        @include bp-medium
        {
            top: rem(-2);
            left: rem(100);

            width: rem(130);
            height: rem(130);

            border-width: rem(2);
        }
        @include bp-large
        {
            top: rem(-2);
            left: rem(100);

            width: rem(130);
            height: rem(130);

            border-width: rem(2);
        }
    }
    nav
    {
        position: fixed;
        z-index: 1002;
        top: -120%;
        right: rem(0);

        display: flex;
        overflow: hidden;
        flex-direction: column;

        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        padding: rem(240) 0 0 0;

        transition: top .5s ease-in-out;

        @include bp-medium
        {
            top: rem(18);
            right: rem(0);

            flex-direction: row;

            width: auto;
            height: auto;
            padding-top: 0;

            background-color: transparent   ;

            flex-wrap: nowrap;
        }
        @include bp-large
        {
            top: rem(35);
            right: rem(0);

            width: auto;
            height: auto;
            padding-top: 0;
        }
        &.active
        {
            top: 0;
        }
        .nav-btns
        {
            display: flex;
            flex-direction: column;

            align-items: center;
            flex-wrap: wrap;
            @include bp-medium
            {
                flex-direction: row;

                flex-wrap: nowrap;
            }
        }
        .social-btns
        {
            display: flex;
            flex-direction: row;

            width: 100%;
            padding-top: rem(40);

            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            @include bp-medium
            {
                flex-direction: row;

                width: auto;
                padding-top: 0;

                flex-wrap: nowrap;
            }
            @include bp-large
            {
                width: auto;
                padding-top: 0;
            }
        }
    }
    .menu-btn,
    .close-btn
    {
        font-size: rem(40);

        position: fixed;
        z-index: 1001;
        top: rem(18);
        right: rem(18);

        padding: rem(40);

        opacity: 0;

        @include bp-medium
        {
            font-size: rem(18);

            visibility: hidden;

            padding: 0 rem(10);
        }
        @include bp-large
        {
            font-size: rem(18);

            visibility: hidden;

            padding: 0 rem(10);
        }
        &.active
        {
            opacity: 1;
        }
    }
    .close-btn
    {
        z-index: 1003;
    }
}

.nav-btn
{
    font-family: $nav-font;
    font-size: rem(70);
    font-weight: normal;
    line-height: rem(70);

    display: inline-block;

    width: 100vw;
    padding: rem(20) 0;

    text-align: center;
    vertical-align: middle;

    @include bp-medium
    {
        font-size: rem(19);
        line-height: rem(19);

        width: auto;
        padding: rem(16);
    }
    @include bp-large
    {
        font-size: rem(24);
        line-height: rem(24);

        width: auto;
        padding: rem(20);
    }
}

.social-btn
{
    font-size: rem(70);
    font-weight: normal;
    line-height: rem(70);

    display: inline-block;

    padding: 0 rem(25);

    cursor: pointer;
    vertical-align: middle;

    @include bp-medium
    {
        font-size: rem(22);
        line-height: rem(22);

        padding: rem(15) rem(16);
    }
    @include bp-large
    {
        font-size: rem(30);
        line-height: rem(31);

        padding: rem(16.5) rem(20);
    }
}

.nav-btn,
.social-btn
{
    color: $color-light;
    background-color: $color-dark;

    &:link,
    &:visited,
    &:hover,
    &:active
    {
        text-decoration: none;
    }
    &.rainbow
    {
        &:hover
        {
            text-decoration: none;

            color: $color-light;
            background: linear-gradient(90deg,#f00, #ff9c00, #fff000,#0cff00,#0048ff,#6c00ff);
            text-shadow: 1px 1px 4px $color-dark;
        }
    }
}
