.headerImg, .postHeaderImg {
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        background-size: 100% auto;
        width:rem(1270,$text-bp-md);
    }

    @include bp-large {
        background-size: 100% auto;
        width:rem(1600,$text-bp-lg);
    }
}
.headerImg {
    height:rem(375,$text-bp-lg);

    @include bp-medium {
        height:rem(480,$text-bp-lg);
    }

    @include bp-large {
        height:rem(600,$text-bp-lg);
    }
    
}

.pageHeader {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-align: left;
    width:100%;
     @include bp-medium {
        
      }

    @include bp-large {
        
    }
}

.pageInfo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
    @include bp-large {
    }
}

.pagePoster {
    width: rem(200,$text-bp-sm);
    margin: rem(30,$text-bp-sm) rem(30,$text-bp-sm) rem(10,$text-bp-sm) rem(30,$text-bp-sm);

    @include bp-medium {
        width: rem(150,$text-bp-md);
        margin: rem(30,$text-bp-md) rem(30,$text-bp-md) rem(10,$text-bp-md) rem(30,$text-bp-md);
    }

    @include bp-large {
        width: rem(150,$text-bp-lg);
        margin: rem(30,$text-bp-lg) rem(50,$text-bp-lg) rem(10,$text-bp-lg) rem(50,$text-bp-lg);
    } 

}

.pageLinks {

    margin-bottom: rem(25,$text-bp-sm);

    @include bp-medium {
        margin-bottom: rem(25,$text-bp-md);
    }

    @include bp-large {
        margin-bottom: rem(25,$text-bp-lg);
    }
}

.pageLinks a {
    display: inline-block;
    font-family: 'Ultra', serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: rem(18,$text-bp-sm);
    line-height: rem(21,$text-bp-sm);
    padding: rem(10,$text-bp-sm);
    margin: rem(5,$text-bp-sm) rem(10,$text-bp-sm);
    width: rem(180,$text-bp-sm);

    @include bp-medium {
        font-size: rem(14,$text-bp-md);
        line-height: rem(18,$text-bp-md);
        padding: rem(15,$text-bp-md);
        margin: rem(5,$text-bp-md) rem(10,$text-bp-md);
        width: rem(130,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(17,$text-bp-lg);
        line-height: rem(21,$text-bp-lg);
        padding: rem(15,$text-bp-lg);
        margin: rem(5,$text-bp-lg) rem(10,$text-bp-lg);
        width: rem(130,$text-bp-lg);
    }
    transition:all 0.3s;

}


.pageLinks a:hover {
    background-color: #000;
    color: #fff;
}


.pageBody, .pageInfoBody {
    
    color: #000;
    background-color: #fff;
    
    font-size: rem(21,$text-bp-sm);
    line-height: rem(30,$text-bp-sm);
    padding: rem(30,$text-bp-sm);

    @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(30,$text-bp-md);
        padding: rem(30,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(28,$text-bp-lg);
        line-height: rem(40,$text-bp-lg);
        padding: rem(50,$text-bp-lg);
    } 
}

.pageBody {
    vertical-align: middle;
    text-align: center;
    color: #000;
    background-color: #fff;
    
}

.pageInfoBody {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pageSecTitle {
 
}

.pageSecTitle {
    font-family: 'Ultra', serif;
    text-align: center;
    text-transform: uppercase;

    width: 100%;
    font-size: rem(45,$text-bp-sm);
    letter-spacing: rem(2,$text-bp-sm);
    padding: rem(20,$text-bp-sm) 0;

     @include bp-medium {
        font-size: rem(38,$text-bp-md);
        letter-spacing: rem(2,$text-bp-md);
        padding: rem(16,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(48,$text-bp-lg);
        letter-spacing: rem(2,$text-bp-lg);
        padding: rem(20,$text-bp-lg);
    }


    
}

.pageSecTitleLink a {
    display: block;
    color: #fff;
    background-color: #000;

    transition:all 0.3s;
}


.pageSecTitleLink a:hover {
    color: #000;
    background-color: #fff;
}

.pageRow {
    text-align: center;
    background-color: #000;
}
.galleryImg {
    display: inline-block;
    vertical-align: top;    
    cursor: pointer;
}

.pageThumbInfo {
    display: inline-block;
    vertical-align: top;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
    }
}

.pageThumbVert {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
    }
}

.pageThumbHorz, {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        text-align: left;
        width:rem(635,$text-bp-md);
    }

    @include bp-large {
        text-align: left;
        width:rem(800,$text-bp-lg);
    }
}

.pageThumbSm {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width:rem(250,$text-bp-sm);

    @include bp-medium {
        width:rem(157,$text-bp-md);
    }

    @include bp-large {
        width:rem(200,$text-bp-lg);
    }
}

.pageThumbRect {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(375,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(158.75,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(200,$text-bp-lg);
    }
}

.pageThumbSq {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(400,$text-bp-lg);
    }
}

.pageThumbSqSm {
    display: inline-block;
    overflow: hidden;
    width:rem(250,$text-bp-sm);
    height:rem(250,$text-bp-sm);

    @include bp-medium {
        width:rem(160,$text-bp-md);
        height:rem(160,$text-bp-md);
    }

    @include bp-large {
        width:rem(200,$text-bp-lg);
        height:rem(200,$text-bp-lg);
    }
}

.pageThumbTall {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(1125,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(476.25,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(600,$text-bp-lg);
    }
}

.pageThumbTitle {
    font-family: 'Ultra', serif;
    color: #fff;
    background-color: #000;

    font-size: rem(36,$text-bp-sm);
    line-height: rem(40,$text-bp-sm);
    padding: rem(30,$text-bp-sm) rem(50,$text-bp-sm);

     @include bp-medium {
        font-size: rem(17,$text-bp-md);
        line-height: rem(20,$text-bp-md);
        padding: rem(8,$text-bp-md) rem(16,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(21,$text-bp-lg);
        line-height: rem(24,$text-bp-lg);
        padding: rem(10,$text-bp-lg) rem(20,$text-bp-lg);
    } 
}
.pageThumbDate {
    color: #fff;
    font-family: 'Domine', serif;
    font-size: rem(30,$text-bp-sm);
    line-height: rem(48,$text-bp-sm);
    padding-top: rem(10,$text-bp-sm);

     @include bp-medium {
        font-size: rem(13,$text-bp-md);
        line-height: rem(19,$text-bp-md);
        padding-top: rem(8,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(16,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
        padding-top: rem(10,$text-bp-lg);
    }    
}
.pageThumbBody, .postBody {
    color: #fff;
    background-color: #000;

    font-size: rem(24,$text-bp-sm);
    line-height: rem(33,$text-bp-sm);
    padding: 0 rem(40,$text-bp-sm) rem(40,$text-bp-sm) rem(40,$text-bp-sm);

     @include bp-medium {
        font-size: rem(13,$text-bp-md);
        line-height: rem(22,$text-bp-md);
        padding: 0 rem(16,$text-bp-md) rem(16,$text-bp-md) rem(16,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(16,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
        padding: 0 rem(20,$text-bp-lg) rem(20,$text-bp-lg) rem(20,$text-bp-lg);
    }
}
#postOverlay {
    background-color: #000;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1009;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;  
}

.postContent {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1010;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.postImg {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    width: 90vw;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    

    @include bp-medium {
        width: rem(1270,$text-bp-md);
    }

    @include bp-large {

    }
}

.postImgTall {

    position: absolute;
    vertical-align: middle;
    text-align: center;

    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 90vh;

    @include bp-medium {
        
    }

    @include bp-large {
        

    }
    img {
        width:auto;
        height:100%;
    }
}



.rightArrow, .leftArrow, .postClose{
    color: #fff;
    opacity: .4;
    cursor: pointer;
    position: fixed;
   
    font-size: rem(50,$text-bp-sm);
    @include bp-medium {
        font-size: rem(50,$text-bp-md);
    }

    @include bp-large {
        font-size: rem(60,$text-bp-lg);
    }
    transition:all 0.3s;
}

.rightArrow:hover, .leftArrow:hover, .postClose:hover {
    opacity: .8;
}

.rightArrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    right: rem(200,$text-bp-sm);

    @include bp-medium {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        right: rem(30,$text-bp-lg);
    }

}
.leftArrow {
    display: none;
    bottom: rem(30,$text-bp-sm);
    left: rem(200,$text-bp-sm);
    
    @include bp-medium {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-md);
    }

    @include bp-large {
        display: block;
        bottom: 50%;
        left: rem(30,$text-bp-lg);
    }
}

.postClose {

    top: rem(30,$text-bp-sm);
    right: rem(30,$text-bp-sm);

    @include bp-medium {
        top: rem(30,$text-bp-md);
        right: rem(30,$text-bp-md);
    }

    @include bp-large {
        
        top: rem(30,$text-bp-lg);
        right: rem(30,$text-bp-lg);
    }

    transition:all 0.3s;
}

.pageShare {
    margin: rem(5,$text-bp-sm) 0;

    @include bp-medium {
        margin: rem(5,$text-bp-md) 0;
    }

    @include bp-large {
        margin: rem(5,$text-bp-lg) 0;
    } 
}
