.header-img,
.post-header-img
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: rem(750);
    height: rem(400);

    align-items: center;
    @include bp-medium
    {
        width: rem(1270);
        height: rem(480);
    }
    @include bp-large
    {
        width: rem(1600);
        height: rem(600);
    }
    img
    {
        width: auto;
        height: 100%;
    }
}
.header-img
{
    transition: opacity .5s ease-in-out;

    opacity: 0;

    &.active
    {
        opacity: 1;
    }
}

.page-header
{
    display: flex;
    flex-direction: column-reverse;

    width: 100%;

    text-align: left;

    color: #000;
    background-color: #fff;

    flex-wrap: nowrap;
    @include bp-medium
    {
        flex-direction: row;
    }
    @include bp-large
    {
    }
    .info
    {
        display: flex;
        flex-direction: column;

        background-color: #000;

        align-items: center;
        @include bp-large
        {
        }
        .poster
        {
            display: block;

            width: rem(500);
            margin: rem(30) rem(30) rem(30) rem(30);

            @include bp-medium
            {
                width: rem(150);
                margin: rem(30) rem(30) rem(10) rem(30);
            }
            @include bp-large
            {
                width: rem(150);
                margin: rem(30) rem(50) rem(10) rem(50);
            }
        }
    }
}

.links
{
    display: flex;
    flex-direction: column;

    width: rem(500);
    margin-bottom: rem(25);

    align-items: center;
    @include bp-medium
    {
        width: auto;
        margin-bottom: rem(25);
    }
    @include bp-large
    {
        margin-bottom: rem(25);
    }
    a
    {
        font-family: $headline-font;
        font-size: rem(40);
        line-height: rem(44);

        display: inline-block;

        width: 100%;
        margin: rem(5) rem(10);
        padding: rem(10);

        transition: all .3s;
        text-align: center;

        color: #000;
        background-color: #fff;

        @include bp-medium
        {
            font-size: rem(14);
            line-height: rem(18);

            width: rem(130);
            margin: rem(5) rem(10);
            padding: rem(15);
        }
        @include bp-large
        {
            font-size: rem(17);
            line-height: rem(21);

            width: rem(130);
            margin: rem(5) rem(10);
            padding: rem(15);
        }
    }


    a:hover
    {
        color: #fff;
        background-color: #000;
    }
}

.page-content
{
    width: 100vw;
    font-size: rem(28);
    line-height: rem(44);

    box-sizing: border-box;
    padding: rem(50);

    color: #000;
    background-color: #fff;

    @include bp-medium
    {
        font-size: rem(18);
        line-height: rem(36);

        padding: rem(30) rem(100);
    }
    @include bp-large
    {
        font-size: rem(18);
        line-height: rem(36);

        padding: rem(40) rem(150);
    }
    figure
    {
        figcaption
        {
            font-size: rem(28);
            line-height: rem(44);

            margin: rem(5) 0;

            text-align: center;

            @include bp-medium
            {
                font-size: rem(21);
                line-height: rem(30);

                margin: rem(5) 0;
            }
            @include bp-large
            {
                font-size: rem(18);
                line-height: rem(21);

                margin: rem(5) 0;
            }
        }
    }
    .vid,
    .gallery
    {
        width: rem(700);
        height: rem(393.75);
        margin: rem(50) auto;

        @include bp-medium
        {
            width: rem(1000);
            height: rem(562.5);
            margin: rem(50) auto;
        }
        @include bp-large
        {
            width: rem(1000);
            height: rem(562.5);
            margin: rem(-30) auto 0;
        }
    }
}


.section-title
{
    font-family: $headline-font;
    font-size: rem(72);
    line-height: rem(80);

    box-sizing: border-box;
    width: 100%;
    padding: rem(20) rem(50);

    transition: all .3s;
    text-align: center;
    letter-spacing: rem(2);

    color: $color-light;

    @include bp-medium
    {
        font-size: rem(38);
        line-height: rem(45);

        padding: rem(16);

        letter-spacing: rem(2);
    }
    @include bp-large
    {
        font-size: rem(48);
        line-height: rem(55);

        padding: rem(20) rem(200);

        letter-spacing: rem(2);
    }
}
.section-title-link
{
    .section-title
    {
        &:link,
        &:visited,
        &:active
        {
            color: $color-light;
            background-color: $color-dark;
        }
        &:hover
        {
            color: $color-dark;
            background-color: $color-light;
        }
        &.rainbow
        {
            &:hover
            {
                color: $color-light;
                background: linear-gradient(90deg,#f00, #ff9c00, #fff000,#0cff00,#0048ff,#6c00ff);
                text-shadow: 1px 1px 4px $color-dark;
            }
        }
    }
}

.date
{
    font-family: $body-font;
    font-size: rem(30);
    line-height: rem(48);

    margin-top: rem(10);

    color: #fff;

    @include bp-medium
    {
        font-size: rem(13);
        line-height: rem(19);

        margin-top: rem(8);
    }
    @include bp-large
    {
        font-size: rem(16);
        line-height: rem(28);

        margin-top: rem(10);
    }
}
.page-row
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}

.thumb
{
    display: flex;
    flex-direction: column;

    transition: all .35s ease-in-out;
    transform: scale(.9);

    @include bp-medium
    {
        transform: scale(.9);
    }
    @include bp-large
    {
        &:hover
        {
            transform: scale(1);
        }
    }
    &.vert
    {
        width: rem(750);

        text-align: center;
        vertical-align: top;

        @include bp-medium
        {
            width: rem(317.5);
        }
        @include bp-large
        {
            width: rem(400);
        }
    }

    &.horz
    {
        flex-direction: column;

        width: rem(750);

        @include bp-medium
        {
            flex-direction: row;

            width: rem(635);

            text-align: left;
        }
        @include bp-large
        {
            width: rem(800);

            text-align: left;
        }
    }
    &.sm
    {
        display: inline-block;

        width: rem(250);

        transition: all .2s ease-in-out;
        text-align: center;
        vertical-align: top;

        @include bp-medium
        {
            width: rem(158.75);
        }
        @include bp-large
        {
            width: rem(200);
            &:hover
            {
                z-index: 10000;

                transform: scale(1.1);
            }
        }
    }
    .rect
    {
        display: inline-block;
        overflow: hidden;

        width: rem(750);
        height: rem(375);

        @include bp-medium
        {
            width: rem(317.5);
            height: rem(158.75);
        }
        @include bp-large
        {
            width: rem(400);
            height: rem(200);
        }
    }
    .sq
    {
        display: inline-block;
        overflow: hidden;

        width: rem(750);
        height: rem(750);

        @include bp-medium
        {
            width: rem(317.5);
            height: rem(317.5);
        }
        @include bp-large
        {
            width: rem(400);
            height: rem(400);
        }
    }
    .sqsm
    {
        display: inline-block;
        overflow: hidden;

        width: rem(250);
        height: rem(250);

        @include bp-medium
        {
            width: rem(158.75);
            height: rem(158.75);
        }
        @include bp-large
        {
            width: rem(200);
            height: rem(200);
        }
    }
    .tall
    {
        display: inline-block;
        overflow: hidden;

        width: rem(250);

        @include bp-medium
        {
            width: rem(160);
        }
        @include bp-large
        {
            width: rem(200);
        }
    }
    .info
    {
        width: rem(750);

        vertical-align: top;

        @include bp-medium
        {
            width: rem(317.5);
        }
        @include bp-large
        {
            width: rem(400);
        }
        .title
        {
            font-family: $post-title-font;
            font-size: rem(48);
            line-height: rem(60);

            padding: rem(30) rem(50);


            @include bp-medium
            {
                font-size: rem(30);
                line-height: rem(36);

                padding: rem(8) rem(16);
            }
            @include bp-large
            {
                font-size: rem(30);
                line-height: rem(36);

                padding: rem(10) rem(20);
            }
        }
        .excerpt
        {
            font-size: rem(24);
            line-height: rem(33);

            padding: 0 rem(40) rem(40) rem(40);

            color: $color-light;

            @include bp-medium
            {
                font-size: rem(13);
                line-height: rem(22);

                padding: 0 rem(16) rem(16) rem(16);
            }
            @include bp-large
            {
                font-size: rem(16);
                line-height: rem(28);

                padding: 0 rem(20) rem(20) rem(20);
            }
        }
    }
}


#post-overlay
{
    position: fixed;
    z-index: 1009;
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100vw;
    height: 0;

    transition: opacity .5 ease-in-out, height 0s ease-in-out 0s;

    opacity: 0;
    background-color: #000;

    &.active
    {
        height: 100vh;

        transition: opacity .5 ease-in-out .25s, height 0s ease-in-out .5s;

        opacity: 1;
    }
}

.post-content
{
    position: fixed;
    z-index: 1010;
    top: -120%;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100vw;
    height: 100vh;

    transition: opacity .5s ease-in-out, top 0s ease .5s;

    opacity: 0;
    &.active
    {
        top: 0;

        transition: opacity .5s ease-in-out, top 0s ease;

        opacity: 1;
    }
    .holder
    {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;

        justify-content: center;
        align-items: center;
        figure
        {
            display: flex;
            flex-direction: column;

            align-items: center;
            img
            {
                width: 90vw;
                height: auto;

                @include bp-medium
                {
                    width: auto;
                    height: 70vh;
                }
                @include bp-large
                {
                    height: 80vh;
                }
            }
            .vid
            {
                width: rem(700);
                height: rem(393.75);

                text-align: center;
                vertical-align: middle;

                @include bp-medium
                {
                    width: rem(1000);
                    height: rem(562.5);
                }
                @include bp-large
                {
                    width: rem(1000);
                    height: rem(562.5);
                }
                video
                {
                    outline: none;
                }
            }
            figcaption
            {
                margin: rem(20);

                text-align: center;

                @include bp-medium
                {
                    margin: rem(20) 0 rem(20) 0;
                }
                @include bp-large
                {
                    margin: rem(20) 0 rem(20) 0;
                }
                .title
                {
                    font-family: $headline-font;
                    font-size: rem(50);
                    line-height: rem(60);

                    margin: 0 0 rem(20) 0;

                    @include bp-medium
                    {
                        font-size: rem(36);
                        line-height: rem(44);

                        margin: 0 0 rem(20) 0;
                    }
                    @include bp-large
                    {
                        font-size: rem(36);
                        line-height: rem(44);

                        margin: rem(20)  0 rem(5) 0;
                    }
                }
            }
        }
    }
    .page-content
    {
        color: $color-light;
        background-color: $color-dark;
        p
        {
            color: $color-light;
        }
    }
    .date
    {
        text-align: center;
    }
    .post-img
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 90vw;

        transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: middle;

        @include bp-medium
        {
            width: rem(1270);
        }
        @include bp-large
        {
        }
    }

    .post-img-tall
    {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 90vh;

        transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: middle;

        @include bp-medium
        {
        }
        @include bp-large
        {
        }
        img
        {
            width: auto;
            height: 100%;
        }
    }
    .ui
    {
        font-size: rem(50);

        position: absolute;
        z-index: 1050;

        cursor: pointer;
        transition: all .3s;

        opacity: .4;
        color: #fff;

        @include bp-medium
        {
            font-size: rem(50);
        }
        @include bp-large
        {
            font-size: rem(50);
        }
        &:hover
        {
            opacity: .8;
        }
    }


    .right
    {
        right: rem(200);
        bottom: rem(30);

        display: none;

        @include bp-medium
        {
            right: rem(30);
            bottom: 50%;

            display: block;
        }
        @include bp-large
        {
            right: rem(30);
            bottom: 50%;

            display: block;
        }
    }
    .left
    {
        bottom: rem(30);
        left: rem(200);

        display: none;

        @include bp-medium
        {
            bottom: 50%;
            left: rem(30);

            display: block;
        }
        @include bp-large
        {
            bottom: 50%;
            left: rem(30);

            display: block;
        }
    }

    .close
    {
        top: rem(30);
        right: rem(30);

        transition: all .3s;

        @include bp-medium
        {
            top: rem(30);
            right: rem(30);
        }
        @include bp-large
        {
            top: rem(30);
            right: rem(30);
        }
    }
    .social
    {
        position: absolute;
        top: rem(100);
        right: rem(40);

        flex-direction: column;

        background-color: transparent;

        @include bp-medium
        {
            top: rem(100);
            right: rem(42);
        }
        @include bp-large
        {
            top: rem(100);
            right: rem(42);
        }
        .share-btn
        {
            font-size: rem(40);

            margin: rem(2) 0;

            transition: all .3s;

            opacity: .4;
            color: $color-light;

            @include bp-medium
            {
                font-size: rem(25);

                margin: rem(2) 0;
            }
            @include bp-large
            {
                font-size: rem(25);

                margin: rem(2) 0;
            }
            &:hover
            {
                opacity: .8;
                color: $color-light;
            }
        }
    }
}








.social
{
    display: flex;
    flex-direction: row;

    cursor: pointer;

    background-color: $color-light;

    flex-wrap: nowrap;
    justify-content: center;
    @include bp-medium
    {
    }
    @include bp-large
    {
    }
    .share-btn
    {
        font-size: rem(80);

        margin: rem(25);

        transition: all .3s;

        color: $color-dark;

        @include bp-medium
        {
            font-size: rem(50);

            margin: rem(10);
        }
        @include bp-large
        {
            font-size: rem(50);

            margin: rem(15);
        }
        &:hover
        {
            color: $color-accent;
        }
    }
}
.page-header
{
    .info
    {
        .social
        {
            background-color: transparent;
            .share-btn
            {
                color: $color-light;

                &:hover
                {
                    color: $color-accent;
                }
            }
        }
    }
}



.post-nav
{
    font-size: rem(100);

    display: flex;
    flex-direction: row;

    text-align: center;

    background-color: $color-light;

    justify-content: center;
    @include bp-medium
    {
        font-size: rem(50);

        text-align: left;
    }
    @include bp-large
    {
        font-size: rem(50);
    }
    a
    {
        margin: rem(10);

        transition: all .3s;

        color: $color-dark;

        @include bp-medium
        {
            margin: rem(10);
        }
        @include bp-large
        {
            margin: rem(15);
        }

        &:visited
        {
            text-decoration: none;

            color: $color-dark;
        }

        &:hover
        {
            text-decoration: none;

            color: $color-accent;
        }

        &:active
        {
            text-decoration: none;

            color: $color-dark;
        }
    }
}
