.headerImg,
.postHeaderImg
{
    display: block;

    width: rem(750);

    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;

    @include bp-medium
    {
        width: rem(1270);

        background-size: 100% auto;
    }
    @include bp-large
    {
        width: rem(1600);

        background-size: 100% auto;
    }
}
.headerImg
{
    height: rem(375);

    @include bp-medium
    {
        height: rem(480);
    }
    @include bp-large
    {
        height: rem(600);
    }
}

.pageHeader
{
    display: flex;
    flex-direction: row;

    width: 100%;

    text-align: left;

    color: #000;
    background-color: #fff;

    flex-wrap: nowrap;
    @include bp-medium
    {
    }
    @include bp-large
    {
    }
}

.pageInfo
{
    display: table-cell;

    text-align: center;
    vertical-align: middle;

    background-color: #000;

    @include bp-large
    {
    }
}

.pagePoster
{
    width: rem(200);
    margin: rem(30) rem(30) rem(10) rem(30);

    @include bp-medium
    {
        width: rem(150);
        margin: rem(30) rem(30) rem(10) rem(30);
    }
    @include bp-large
    {
        width: rem(150);
        margin: rem(30) rem(50) rem(10) rem(50);
    }
}

.pageLinks
{
    margin-bottom: rem(25);

    @include bp-medium
    {
        margin-bottom: rem(25);
    }
    @include bp-large
    {
        margin-bottom: rem(25);
    }
}

.pageLinks a
{
    font-family: $headline-font;
    font-size: rem(18);
    line-height: rem(21);

    display: inline-block;

    width: rem(180);
    margin: rem(5) rem(10);
    padding: rem(10);

    transition: all .3s;
    text-align: center;

    color: #000;
    background-color: #fff;

    @include bp-medium
    {
        font-size: rem(14);
        line-height: rem(18);

        width: rem(130);
        margin: rem(5) rem(10);
        padding: rem(15);
    }
    @include bp-large
    {
        font-size: rem(17);
        line-height: rem(21);

        width: rem(130);
        margin: rem(5) rem(10);
        padding: rem(15);
    }
}


.pageLinks a:hover
{
    color: #fff;
    background-color: #000;
}


.pageBody,
.pageInfoBody
{
    font-size: rem(21);
    line-height: rem(30);

    padding: rem(30);

    color: #000;
    background-color: #fff;

    @include bp-medium
    {
        font-size: rem(21);
        line-height: rem(30);

        padding: rem(30);
    }
    @include bp-large
    {
        font-size: rem(24);
        line-height: rem(36);

        padding: rem(40);
    }
}

.pageBody
{
    box-sizing: border-box;
    width: 100%;

    color: #000;
    background-color: #fff;
}





.pageSecTitle
{
    font-family: $headline-font;
    font-size: rem(60);

    width: 100%;
    padding: rem(20) 0;

    text-align: center;
    letter-spacing: rem(2);

    @include bp-medium
    {
        font-size: rem(38);

        padding: rem(16);

        letter-spacing: rem(2);
    }
    @include bp-large
    {
        font-size: rem(48);

        padding: rem(20);

        letter-spacing: rem(2);
    }
}

.pageSecTitleLink a
{
    display: block;

    transition: all .3s;

    color: #fff;
    background-color: #000;
}


.pageSecTitleLink a:hover
{
    color: #000;
    background-color: #fff;
}

.pageRow
{
    text-align: center;

    background-color: #000;
}
.galleryImg
{
    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.pageThumbInfo
{
    display: inline-block;

    width: rem(750);

    vertical-align: top;

    @include bp-medium
    {
        width: rem(317.5);
    }
    @include bp-large
    {
        width: rem(400);
    }
}

.pageThumbVert,
.pageThumbHorz
{
    transition: all .35s ease-in-out;
    transform: scale(.9);

    @include bp-medium
    {
        transform: scale(.9);
    }
    @include bp-large
    {
        &:hover
        {
            transform: scale(1);
        }
    }
}
.pageThumbVert
{
    display: inline-block;

    width: rem(750);

    text-align: center;
    vertical-align: top;

    @include bp-medium
    {
        width: rem(317.5);
    }
    @include bp-large
    {
        width: rem(400);
    }
}

.pageThumbHorz
{
    display: inline-block;

    width: rem(750);

    text-align: center;
    vertical-align: top;

    @include bp-medium
    {
        width: rem(635);

        text-align: left;
    }
    @include bp-large
    {
        width: rem(800);

        text-align: left;
    }
}

.pageThumbSm
{
    display: inline-block;

    width: rem(250);

    transition: all .2s ease-in-out;
    text-align: center;
    vertical-align: top;

    @include bp-medium
    {
        width: rem(160);
    }
    @include bp-large
    {
        width: rem(200);
        &:hover
        {
            z-index: 10000;

            transform: scale(1.1);
        }
    }
}

.pageThumbRect
{
    display: inline-block;
    overflow: hidden;

    width: rem(750);
    height: rem(375);

    @include bp-medium
    {
        width: rem(317.5);
        height: rem(158.75);
    }
    @include bp-large
    {
        width: rem(400);
        height: rem(200);
    }
}

.pageThumbSq
{
    display: inline-block;
    overflow: hidden;

    width: rem(750);
    height: rem(750);

    @include bp-medium
    {
        width: rem(317.5);
        height: rem(317.5);
    }
    @include bp-large
    {
        width: rem(400);
        height: rem(400);
    }
}

.pageThumbSqSm
{
    display: inline-block;
    overflow: hidden;

    width: rem(250);
    height: rem(250);

    @include bp-medium
    {
        width: rem(160);
        height: rem(160);
    }
    @include bp-large
    {
        width: rem(200);
        height: rem(200);
    }
}

.pageThumbTall
{
    display: inline-block;
    overflow: hidden;

    width: rem(250);

    @include bp-medium
    {
        width: rem(160);
    }
    @include bp-large
    {
        width: rem(200);
    }
}

.pageThumbTitle
{
    font-family: $post-title-font;
    font-size: rem(36);
    line-height: rem(40);

    padding: rem(30) rem(50);

    color: #fff;
    background-color: #000;

    @include bp-medium
    {
        font-size: rem(17);
        line-height: rem(20);

        padding: rem(8) rem(16);
    }
    @include bp-large
    {
        font-size: rem(24);
        line-height: rem(28);

        padding: rem(10) rem(20);
    }
}
.pageThumbDate
{
    font-family: $body-font;
    font-size: rem(30);
    line-height: rem(48);

    padding-top: rem(10);

    color: #fff;

    @include bp-medium
    {
        font-size: rem(13);
        line-height: rem(19);

        padding-top: rem(8);
    }
    @include bp-large
    {
        font-size: rem(16);
        line-height: rem(28);

        padding-top: rem(10);
    }
}
.pageThumbBody,
.postBody
{
    font-size: rem(24);
    line-height: rem(33);

    padding: 0 rem(40) rem(40) rem(40);

    color: #fff;
    background-color: #000;

    @include bp-medium
    {
        font-size: rem(13);
        line-height: rem(22);

        padding: 0 rem(16) rem(16) rem(16);
    }
    @include bp-large
    {
        font-size: rem(16);
        line-height: rem(28);

        padding: 0 rem(20) rem(20) rem(20);
    }
}
#postOverlay
{
    position: fixed;
    z-index: 1009;
    top: 0;
    left: 0;

    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    background-color: #000;
}

.postContent
{
    position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;

    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100vw;
    height: 100vh;

    opacity: 0;
}

.postImg
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90vw;

    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;

    @include bp-medium
    {
        width: rem(1270);
    }
    @include bp-large
    {
    }
}

.postImgTall
{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 90vh;

    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;

    @include bp-medium
    {
    }
    @include bp-large
    {
    }
    img
    {
        width: auto;
        height: 100%;
    }
}



.rightArrow,
.leftArrow,
.postClose
{
    font-size: rem(50);

    position: fixed;

    cursor: pointer;
    transition: all .3s;

    opacity: .4;
    color: #fff;

    @include bp-medium
    {
        font-size: rem(50);
    }
    @include bp-large
    {
        font-size: rem(50);
    }
}

.rightArrow:hover,
.leftArrow:hover,
.postClose:hover
{
    opacity: .8;
}

.rightArrow
{
    right: rem(200);
    bottom: rem(30);

    display: none;

    @include bp-medium
    {
        right: rem(30);
        bottom: 50%;

        display: block;
    }
    @include bp-large
    {
        right: rem(30);
        bottom: 50%;

        display: block;
    }
}
.leftArrow
{
    bottom: rem(30);
    left: rem(200);

    display: none;

    @include bp-medium
    {
        bottom: 50%;
        left: rem(30);

        display: block;
    }
    @include bp-large
    {
        bottom: 50%;
        left: rem(30);

        display: block;
    }
}

.postClose
{
    top: rem(30);
    right: rem(30);

    transition: all .3s;

    @include bp-medium
    {
        top: rem(30);
        right: rem(30);
    }
    @include bp-large
    {
        top: rem(30);
        right: rem(30);
    }
}


.social
{
    display: flex;
    flex-direction: row;

    cursor: pointer;

    background-color: $color-1;

    flex-wrap: nowrap;
    justify-content: center;
    @include bp-medium
    {
    }
    @include bp-large
    {
    }
    .share-btn
    {
        font-size: rem(80);

        margin: rem(25);

        color: $color-2;

        transition: all .3s;

        @include bp-medium
        {
            font-size: rem(50);

            margin: rem(10);
        }
        @include bp-large
        {
            font-size: rem(50);

            margin: rem(15);
        }
        &:hover
        {
            color: $color-accent;
        }
    }
}
.pageInfo {
    .social {

        background-color: transparent;
        .share-btn
        {
            color: $color-1;

            &:hover
            {
                color: $color-accent;
            }
        }
    }    
}
.postContent {
    .social {
        position:fixed;
        top:rem(100);
        right:rem(40);
        flex-direction: column;
        background-color: transparent;

        @include bp-medium
        {
            top:rem(100);
            right:rem(42);
        }
        @include bp-large
        {
            top:rem(100);
            right:rem(42);
        }
        .share-btn
        {
            color: $color-1;
            opacity: 0.4;

            font-size: rem(40);

            margin: rem(2) 0;

            transition: all .3s;
            @include bp-medium
            {
                font-size: rem(25);

                margin: rem(2) 0;
            }
            @include bp-large
            {
                font-size: rem(25);

                margin: rem(2) 0;
            }
            &:hover
            {
                opacity: .8;
            }
        }
    }   
}

.page-nav
{
    font-size: rem(100);
    background-color: $color-1;

    display: flex;
    flex-direction: row;


    text-align: center;

    justify-content: center;
    @include bp-medium
    {
        font-size: rem(50);


        text-align: left;
    }
    @include bp-large
    {
        font-size: rem(50);

    }
    a
    {
        margin: rem(10);

        color: $color-2;

        transition: all .3s;

        @include bp-medium
        {
            margin: rem(10);
        }
        @include bp-large
        {
            margin: rem(15);
        }

        &:visited
        {
            text-decoration: none;

            color: $color-2;
        }

        &:hover
        {
            text-decoration: none;

            color: $color-accent;
        }

        &:active
        {
            text-decoration: none;

            color: $color-2;
        }
    }
}

.pageVid,
.pageGallery
{
    width: rem(700);
    height: rem(393.75);
    margin: rem(50) auto;

    @include bp-medium
    {
        width: rem(1000);
        height: rem(562.5);
        margin: rem(50) auto;
    }
    @include bp-large
    {
        width: rem(1000);
        height: rem(562.5);
        margin: rem(-30) auto 0;
    }
}
