#resume
{
    font-size: rem(28);
    line-height: rem(40);

    display: flex;
    flex-direction: row;

    padding: rem(50) rem(50);

    color: $color-2;
    background-color: $color-1;

    flex-flow: wrap;
    @include bp-medium
    {
        font-size: rem(18);
        line-height: rem(24);

        padding: rem(50) rem(100);
    }
    @include bp-large
    {
        font-size: rem(18);
        line-height: rem(28);

        padding: rem(50) rem(100);
    }
    section
    {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin-bottom: rem(30);
        padding: rem(50);

        border: 1px solid #999;
        border-radius: rem(10);
        background-color: #fff;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

        align-items: center;
        @include bp-medium
        {
            display: initial;

            margin-bottom: rem(30);
            padding: rem(30);

            border-radius: rem(10);

            align-items: flex-start;
        }
        @include bp-large
        {
            margin-bottom: rem(30);
            padding: rem(50);

            border-radius: rem(10);
        }
        p
        {
            margin-bottom: rem(30);

            @include bp-medium
            {
                margin-bottom: rem(30);
            }
            @include bp-large
            {
                margin-bottom: rem(30);
            }
        }
        .block
        {
            width: 100%;
            margin-bottom: rem(50);
            padding-bottom: rem(50);

            border-bottom: 1px solid #999;

            @include bp-medium
            {
                margin-bottom: rem(30);
                padding-bottom: rem(30);
            }
            @include bp-large
            {
                margin-bottom: rem(30);
                padding-bottom: rem(30);
            }
            .desc
            {
                margin-top: rem(30);

                @include bp-medium
                {
                    margin-top: rem(30);
                }
                @include bp-large
                {
                    margin-top: rem(30);
                }
            }
            .dates
            {
                font-size: rem(24);
                line-height: rem(34);

                color: #666;

                @include bp-medium
                {
                    font-size: rem(18);
                    line-height: rem(24);
                }
                @include bp-large
                {
                    font-size: rem(18);
                    line-height: rem(24);
                }
            }
        }
        .block:last-child
        {
            margin-bottom: 0;

            border-bottom: 0;
        }
        .row
        {
            display: flex;
            flex-direction: column;

            width: 100%;
            margin: rem(15) 0;

            @include bp-medium
            {
                margin: rem(2) 0;
            }
            @include bp-large
            {
                margin: rem(4) 0;
            }

            .top
            {
                display: flex;
                flex-direction: row;

                margin: rem(8) 0;

                flex-wrap: wrap;
                @include bp-medium
                {
                    flex-direction: row;

                    margin: rem(4) 0;
                }
                @include bp-large
                {
                    margin: rem(4) 0;
                }
                .title
                {
                    font-weight: bold;

                    width: 100%;
                    margin-right: 1%;

                    @include bp-medium
                    {
                        width: 53%;
                        margin-right: 1%;
                    }
                }
                .role
                {
                    width: 49%;
                    margin-right: 1%;

                    @include bp-medium
                    {
                        width: 19%;
                        margin-right: 1%;
                    }
                }
                .company
                {
                    width: 49%;

                    text-align: right;

                    @include bp-medium
                    {
                        width: 25%;

                        text-align: right;
                    }
                }
            }
            .desc
            {
                width: 100%;
            }
        }


        .resume
        {
            font-size: rem(36);
            line-height: rem(50);

            display: flex;
            flex-direction: row;

            margin: 0 0 rem(20) 0;

            color: $color-accent;

            flex-wrap: nowrap;
            @include bp-medium
            {
                font-size: rem(18);
                line-height: rem(24);

                margin: 0 0 rem(10) 0;
            }
            @include bp-large
            {
                font-size: rem(24);
                line-height: rem(24);

                margin: 0 0 rem(10) 0;
            }
            i
            {
                margin: 0 rem(10) 0 0;

                @include bp-medium
                {
                    margin: 0 rem(10) 0 0;
                }
                @include bp-large
                {
                    margin: 0 rem(10) 0 0;
                }
            }
        }
        img
        {
            float: left;

            width: rem(500);
            height: auto;
            margin: 0 rem(0) rem(20) 0;

            border: 1px solid #999;
            box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

            @include bp-medium
            {
                width: rem(300);
                margin: 0 rem(30) rem(15) 0;
            }
            @include bp-large
            {
                width: rem(300);
                margin: 0 rem(30) rem(15) 0;
            }
        }
        h2
        {
            font-family: $headline-font;
            font-size: rem(72);
            line-height: rem(90);

            margin: rem(20) 0;

            @include bp-medium
            {
                font-size: rem(60);
                line-height: rem(72);

                margin: rem(20) 0;
            }
            @include bp-large
            {
                font-size: rem(60);
                line-height: rem(72);

                margin: rem(20) 0;
            }
        }
        h3
        {
            font-family: $post-title-font;
            font-size: rem(48);
            line-height: rem(60);

            margin: 0 0 rem(20) 0;
            margin: 0 0 2rem 0;

            @include bp-medium
            {
                font-size: rem(32);
                line-height: rem(40);

                margin: 0 0 rem(20) 0;
            }
            @include bp-large
            {
                font-size: rem(32);
                line-height: rem(40);

                margin: 0 0 rem(20) 0;
            }
        }
        h4
        {
            font-family: $headline-font;
            font-size: rem(65);
            line-height: rem(72);

            margin: 0 0 rem(20) 0;

            letter-spacing: 1;

            @include bp-medium
            {
                font-size: rem(48);
                line-height: rem(60);

                margin: 0 0 rem(20) 0;
            }
            @include bp-large
            {
                font-size: rem(48);
                line-height: rem(60);

                margin: 0 0 rem(20) 0;
            }
        }
    }
}
