body
{
    font-family: $body-font;

    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #000;
}
html
{
    margin-top: 0 !important;
}

#site
{
    position: relative;

    width: 100vw;
    height: 100vh;

    @include bp-medium
    {
    }
    @include bp-large
    {
    }
    .holder
    {
        overflow-x: hidden;
        overflow-y: hidden;

        width: 100vw;
        min-height: 100vh;

        @include bp-medium
        {
        }
        @include bp-large
        {
        }
        &.active
        {
            overflow-y: auto;
        }
    }
}



img
{
    width: 100%;
    height: auto;
}

h1,
h2,
h3
{
    font-weight: normal;

    margin: 0;
}

p
{
    margin: rem(30) 0;

    @include bp-medium
    {
        margin: rem(20) 0;
    }
    @include bp-large
    {
        margin: rem(20) 0;
    }
}
a:link
{
    font-weight: bold;

    text-decoration: none;

    color: #24293d;
}

a:visited
{
    font-weight: bold;

    text-decoration: none;

    color: #24293d;
}

a:hover
{
    font-weight: bold;

    text-decoration: none;

    color: #3a3f5d;
}

a:active
{
    font-weight: bold;

    text-decoration: none;

    color: #24293d;
}
.screen-reader-text
{
    /* Reusable, toolbox kind of class */
    position: absolute;
    top: -9999px;
    left: -9999px;
}
