body {
   margin:0;
   padding:0;
   width:100vw;
   height:100vh;
   font-family: 'Domine', serif;
   overflow-x:hidden;
   color:#fff;
   background-color: #000;
}
html {
  margin-top: 0 !important;
}

#site {
   position: relative;
   width:100vw;
   height:100vh;

   @include bp-medium {
   }


   @include bp-large {
   }


}

#siteHolder {
    width:100vw;
    min-height:100vh;
    overflow-x:hidden;
    overflow-y:auto;

    @include bp-medium {
    }
    @include bp-large {
    }
}

img {
  width:100%;
  height:auto;
}

h1, h2, h3 {
    margin: 0 !important;
    font-weight: normal;
}

p {
    margin:rem(10,$text-bp-sm) 0;

    @include bp-medium {
        margin:rem(10,$text-bp-md) 0;
    }

    @include bp-large {
        margin:rem(20,$text-bp-lg) 0;
    }
}
a:link {
    color: #24293D;
    text-decoration: none;
}

a:visited {
    color: #24293D;
    text-decoration: none;
}

a:hover {
    color: #3A3F5D;
    text-decoration: none;
}

a:active {
    color: #24293D;
    text-decoration: none;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
    position: absolute;
    top: -9999px;
    left: -9999px;
}

